# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/kitin-server/build.gradle.kts
/kitin-server/src/minecraft
/paper-server
/folia-server
/kitin-api/build.gradle.kts
/paper-api
/paper-api-generator
/folia-api

.idea/
.claude/